<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>contents.html</title>
    <link rel="stylesheet" th:href="@{/static/css/common.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/static/css/contents.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
</head>
<body>
<!--gnb-->
<!--<div th:replace="layout/gnb::gnb"></div>-->
<!--header-->
<!--<div th:replace="layout/header::header"></div>-->
<!--contents-->
<div class="contents-container">
    <div th:class="page-header">
        <h2 th:text="${boardName}"></h2>
        <a th:href="'/boards'+${boardIdx}"></a> <!-- todo ajax 호출 -->
    </div>
    <hr/>
    <input id="article_idx" type="hidden" th:value="${articleIdx}"/>
    <div class="article-container">
        <table class="table">
            <thead>
                <tr>
                    <th colspan="3" th:width="1024" th:text="${article.getTitle()}"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <div class="float-left">
                        <td th:width="40" th:text="'작성자:'+${article.getUserResDto().getName()}"></td>
                    </div>
                    <div class="float-right">
                        <td th:width="60" th:text="'작성일:'+${#temporals.format(article.getCreatedDate(), 'yyyy-MM-dd HH:mm')}"></td>
                        <td th:width="10" th:text="'조회수:'+${article.getReadCnt()}"></td>
                    </div>
                </tr>
                <tr>
                    <td colspan="3" class="contents" th:text="${article.getContents()}" style="padding-top: 2rem; padding-bottom: 2rem;"></td>
                </tr>
                <tr>
                    <td colspan="3" class="recommend">
                        <a th:text="추천하기" href="" class="btn btn-primary"></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div id="button">
    <div class="float-left" th:with="currentPage=${#request.getParameter('page')}"> <!-- todo ajax 호출 -->
        <a th:href="'/boards/' + ${boardIdx} +'?page='+${currentPage}" class="btn btn-primary">목록으로</a>
    </div>
    <div class="float-right">
        <a href="/boards" class="btn btn-primary">수정</a>
        <a href="/boards" class="btn btn-primary">삭제</a>
    </div>
    </div>
<!-- 댓글 -->
    <div th:class="comment-container">
        <hr/>
        <!-- 댓글 작성 -->
        <div th:class="comment-write">
            <div class="input-group">
                <label>
                    <textarea id="comment-form" type="text" class="form-control" placeholder="내용을 입력해주세요." aria-describedby="comment-help"></textarea>
                </label>
                <div class="input-group-append">
                    <span class="input-group-text" id="comment-insert" type="submit">등록</span>
                </div>
            </div>
            <small id="comment-help" class="form-text text-muted">욕설이나 도배 등과 같이 운영정책에 어긋나는 게시물을 등록하면 불이익을 받으실 수 있습니다.</small>
            <span style="color:#aaa;" id="counter">(0 / 최대 500자)</span>
        </div>
        <input id="createLastPage" type="hidden"
               th:with="createLastPage= ${(commentList.totalElements + 1) % 10} != 0 ? ${commentList.totalElements / 10} + 1 :
                                  (${commentList.totalElements / 10} == ${commentList.totalPages} ? ${commentList.totalElements / 10} : ${commentList.totalElements / 10} + 1)"
               th:value="${createLastPage}">
        <!-- 댓글 목록 -->
        <div th:if="${commentList.getTotalElements()!=0}">
            <div th:class="comment-list">
                <ul class="list-group">
                    <li th:class="list-group-item" th:each="comment : ${commentList}">
                        <dl class="c_writer" th:with="updatedDate=${comment.getUpdatedDate()}">
                            <dt th:text="${comment.getUserResDto().getName()}"></dt>
                            <dd th:class="data" th:text="${#temporals.format(updatedDate, 'yyyy-MM-dd HH:mm')}"></dd>
                        </dl>
                        <p th:text="${comment.getContents()}" th:class="content"></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- 댓글 pagination -->
    <div th:if="${commentList.getTotalElements()!=0}">
        <nav class="centered" >
            <ul class="pagination"
                th:with="startPageNumber=${commentList.number/10} * 10 + 1,
                endPageNumber=(${commentList.totalPages} > ${startPageNumber} + 9) ?
                ${startPageNumber} + 9 : ${commentList.totalPages}">

                <li class="page-item"><a class="page-link" th:href="'/articles/' + ${articleIdx} + '?page=1'">&laquo;</a></li>
                <li class="page-item" th:style="${commentList.first} ? 'display:none'">
                    <a class="page-link" th:href="'/articles/' + ${articleIdx} + '?page=' + (${startPageNumber} - 10 > 0 ? ${startPageNumber} - 10 : 1)">&lsaquo;</a>
                </li>

                <li class="page-item" th:each="page : ${#numbers.sequence(startPageNumber, endPageNumber)}"
                    th:class="(${page} == ${commentList.number} + 1) ? 'page-item active'">
                    <a class="page-link" th:href="'/articles/' + ${articleIdx} + '?page=' + ${page}" th:text="${page}">
                        <span class="sr-only">(current)</span>
                    </a>
                </li>

                <li class="page-item" th:style="${commentList.last} ? 'display:none'">
                    <a class="page-link" th:href="'/articles/' + ${articleIdx} + '?page=' + (${endPageNumber} + 1 > ${commentList.totalPages} ? ${commentList.totalPages} : ${endPageNumber} + 1)">&rsaquo;</a>
                </li>
                <li class="page-item">
                    <a class="page-link" th:href="'/articles/' + ${articleIdx} + '?page=' + ${commentList.totalPages}">&raquo;</a>
                </li>
            </ul>
        </nav>
    </div>
    <div th:if="${commentList.getTotalElements()==0}">
        <p class="guide">등록된 댓글이 없습니다.</p>
    </div>
</div>
<!-- footer -->
<!--<div th:replace="layout/footer::footer"></div>-->
<!-- script -->
<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
<script src="/webjars/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script type="text/javascript" th:src="@{/static/js/common.js}"></script>
<script type="text/javascript">
    $('#comment-form').keyup(function(e) {
        let content = $(this).val();
        $('#counter').html("("+content.length+" / 최대 500자)");

        if(content.length > 500) {
            alert("최대 500자까지 입력 가능합니다.");
            $(this).val(content.substring(0, 500));
            $('#counter').html("(500 / 최대 500자)");
        }
    });
</script>
<script type="text/javascript">
    $('#comment-insert').click(function() {
        let commentReqDto = {
            contents: document.getElementById('comment-form').value
        };
        console.log("commentReqDto:", commentReqDto);

        $.ajax({
            url: baseUrl + '/articles/' + $('#article_idx').val(),
            type: "POST",
            data: JSON.stringify(commentReqDto),
            contentType: 'application/json',
            // headers: { // todo security 설정 후
            //     "Authorization": "Basic "
            // },
            dataType: 'json',
            success: function() {
                alert('저장 성공!');
                location.href = '/articles/' + $('#article_idx').val() + '?page=' + $('#createLastPage').val();
            },
            error: function () {
                alert('저장 실패!');
            }
        });
    });
</script>
</body>
</html>
